/*
* Custom CSS for Breeze site
* Copyright 2015, Breeze Technical Services
* Chase McCarty and Bradley Poulette
* www.breezetech.ca
* 5/14/2015
*/

/* --------------------------------------- */

/* Table of Contents */


/* Nav Styling */
.band.nav picture img{
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

/* Band Styling */

.band {
    background: #343434;
}

.band.nav {
    background: #f8f8f8;
    margin:0;
}

/* Moves the margin for just the specific nav container */
.band.nav .container {
    margin:0;
}

/* Makes it so the text has no bottom spacing. */
.band.nav h4 {
    margin-bottom: 0;
} 

picture .nav {
    margin-top: 100px;
}

.band.landing {
    background: #343434;
}

.band.landing h4 {
    color:white;
}

.band.services {
    background: #f8f8f8;
}

.band.about {
    background: #343434;
}

.band.contact {
    background: #f8f8f8;
}


/* Removes the website border that was there */
body {
	margin:0;
}

