/*
* Custom CSS for Breeze site
* Copyright 2015, Breeze Technical Services
* Chase McCarty and Bradley Poulette
* www.breezetech.ca
* 5/14/2015
*/

/* --------------------------------------- */

/* ---------------- Table of Contents ----------------

1. Nav Styling
2. Landing Styling
3. Services Styling
4. User Testimonies
5. Who We Are Styling
6. Contact Styling
7. Misc Body Styling

*/




/* ---------- 1. Remove Nav on window resize ---------- */




/* ---------------- 2. Landing Styling ---------------- */

.band.landing {
    /* Image source:
    http://wallmeta.com/clouds-images-desktop-wallpaper/
    */
    background-image: url(../images/landing_image_clouds_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:675px;
    width:100%;
}

.band.landing .text.container {
    margin-top: 7%;
    margin-right: 50%;
    margin-bottom: 20%;
    margin-left:22.5%;
    text-align: center;
    width: 550px;
    
}


.band.landing h1{
    color:white;
    display: block;
    vertical-align: center;
    font-weight: bold;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    padding: 0;
    display:block;
}
.band.landing h2{
    color:#343434;
    color:white;
    display: block;
    vertical-align:center;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    padding: 0;
    display:block;
}

.band.landing h3{
    color:white;
    display: block;
    vertical-align: center;
    font-weight: bold;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    padding: 0;
    display:block;
}
.band.landing h4 {
    color:#343434;
    color:white;
    display: block;
    vertical-align:center;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    padding: 0;
    display:block;
}

#phoneNumber{
    float: right;
}

.band.landing p {
    color:white;
}

.band.landing img{
    margin:0;
    max-width: 100%;
    max-height: 100%;
}

.band.landing .nav_stripe{
    background-color: rgba(52,52,52,0.5);
    text-align: center;
    background-size: cover;
    opactity: 0.1;
}
.band.landing .container {
    margin-bottom:10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: none;
}

.band.landing picture img,
.band.landing picture source{
    margin-top: 25px;
    margin-bottom: 20px;
    vertical-align: middle;
    float:left;
}

.list.nav {
    margin-top: 25px;
    text-align: center;
    float: left;
    margin-left: 10%;
}

.band.landing ul,
.band.landing ul, li{
    margin: 0
}

.band.landing ul {
    align-content: center; 
    list-style: none;
}

.band.landing ul li {
    display: inline;
    position: relative;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

.band.landing ul li a{
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.band.landing h5{
    align-content: center;
    float: right;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 549px) {
    .band.landing .text.container {
    margin-top: 7%;
    margin-bottom: 20%;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
    width: auto;
    }    

    .band.landing picture img{
        margin-left: auto;
        margin-right: auto;
    }

    .band.landing h5{
        display:block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .band.landing.five.columns{
        display:none;
    }
}

/* ---------------- Business Description --------------- */

    .band.description {
        background-color: white;
        background-image: url(../images/white_bg_1.png);
        background-repeat: repeat;
    }
    
    .band.description .landing.gradient{
        /*display:none;*/
        background-image: url(../images/landing_gradient_bottom.png);
        background-repeat: repeat-x;
        height: 10px;
    }

    .band.description .container{
        overflow: none;
    }

    .band.description h5 {
        color: #343434;
        text-align: center;
        margin-bottom: 5%;
    }

    .band.description h4 {
        color: #343434;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5%;
    }

/* ---------------- 3. Services Styling ---------------- */

.band.services{
    background-color: #343434;
    background-image: url(../images/black_bg_1.png);
    background-repeat: repeat;
}

.band.services h5{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
}

.band.services h3{
    color: white;
    text-align: center;
    font-size: 20px;
}

.band.services .row{
    text-align: center;
}

.band.services p{
    color: white;
}

.band.services button{
    color:#343434;
    background: #33C3F0;
    border-color: #33C3F0;
}

button:hover {
    color:#33C3F0;
    background:white;
    border-color: white;
}

/* ---------------- Pricing ------------------- */
.band.pricing{
    background-color: white;
    background-image: url(../images/white_bg_1.png);
    background-repeat: repeat;
    overflow:auto;  
    /*text-align: center; */
    ;
}

.band.pricing .row {
    overflow:none;
}


.band.pricing h1 {
    display:block;
    margin-bottom: 40px;
}

.band.pricing h3 {
    margin: 10px;

}

.band.pricing h4{
    margin-top: 10%;
    display:block;
    font-weight: bold;
}
.band.pricing h5{
    display:block;
    margin-bottom: 1rem;

}

.band.pricing .four.columns {
    text-align:center;
}

.band.pricing .buttonContent {
    margin-top: auto;
    margin-bottom: auto;
}


.band.pricing .item {
    display:block;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    /*height: 80px;*/
    height: auto;
    width: 380px;
    overflow: auto;
    margin-left:auto;
    margin-right: auto;
}


.band.pricing .item.large {
    display:block;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    height: 200px;
    width: 380px;
    overflow: auto;
    margin-left:auto;
    margin-right: auto;
}

.band.pricing .or {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
.band.pricing .four.columns {
    margin-left: 2%;
    
} */

.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 350px;
    padding: 10px;
    background: white;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.popbox p{
    margin:0;
}


.band.pricing .popper{
    margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
    .band.pricing .item{
        width:280px;

    }
    
}

@media screen and (max-width: 1000px) {
    .band.pricing .item{
        width:80%;
    }

    .band.pricing .four.columns {
        width:100%;
        margin-top: 60px;
        margin-left: 0;
    }

    .popbox{
        width:80%;
    }
    
}


/* ---------------- Payment Options ---------------- */
.band.payment { 
    background-color: white;
    background-image: url(../images/white_bg_1.png);
    background-repeat: repeat; 
    text-align: center;
    
}

.band.payment h4{
    color: white;
}

.band.payment img{
    vertical-align: middle;
    margin-left: 15px;
    margin-right:15px;
}

/* ---------------- 4. User Testimonies ------------------ */
.band.testimonies{
    background-color: #00BFFF;  
}

.band.testimonies h5 {
    color: white;
    margin-top: 10%;
    margin-bottom: 5%;
}

.band.testimonies .slideshow.container {
    margin-bottom: 20%;
}


/* ---------------- 5. Who We Are Styling ---------------- */

.band {
    margin:0;
}

.band.about {
    background-color: #343434;
    background-image: url(../images/black_bg_1.png);
    background-repeat: repeat;
    color: white;
}

.band.about h5{
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}

.band.about h3{
    text-align: center;
    font-weight: bold;
    margin:0;
    margin-top: 5%;
    margin-bottom:10%;
}

.band.about p{
    margin:0;
    text-align: center;
}

.band.about p.last{
    margin-bottom: 15%;   
}

.band.about .bio,picture{
    text-align: center;
    vertical-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top:5%
}

/* ---------------- 6. Contact Styling ---------------- */

.band.contact {
    background-color: white;
    background-image: url(../images/white_bg_1.png);
    background-repeat: repeat; 
    text-align: center;
    color:black;
}

.band.contact h5{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
}

.band.contact #submit-button {
    display:block;
    margin-left:25%;
}

.band.contact #contact-form{
    
}

.band.contact input, .band.contact textarea, .band.contact select {
    color:black;
    width:50%;
    border-color: black;
    /*border-width: 1px;*/
}

@media screen and (max-width: 400px) {
    .band.contact input, .band.contact textarea, .band.contact select {
    color:white;
    width:75%;
    }
}

.band.contact input#submit-button {
    color:black;
    margin:0;
    margin-right: auto;
    margin-left: auto;
}


/*----- Hiding/showing error/success messages in form ----*/
.band.contact #errors #info:before{
    content: '';
}

.band.contact #success, .band.contact #errors{
    display:none;
}

.band.contact #errors.visible, .band.contact #success.visible{
    display:block;
}

.band.contact span.required{
    color:red;
}

/* Removes the website border that was there */
body {
	margin:0;
}

