/*
* Custom CSS for Breeze site
* Copyright 2015, Breeze Technical Services
* Chase McCarty and Bradley Poulette
* www.breezetech.ca
* 5/14/2015
*/

/* --------------------------------------- */

/* ---------------- Table of Contents ---------------- */


/* ---------------- Nav Styling ---------------- */
.band.nav {
    background: #343434;
    margin:0;
}

/* Moves the margin for just the specific nav container */
.band.nav .container {
    margin-bottom:10px;
}

.band.nav picture img,
.band.nav picture source{
    margin-top: 10px;
    vertical-align: middle;
    float:left;
}

.list.nav {
    text-align: center;
}

.band.nav ul,
.band.nav ul, li{
    margin: 0
}

.band.nav ul {
    align-content: center; 
    list-style: none;
}

.band.nav ul li {
    display: inline;
    position: relative;
}

.band.nav ul li a{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: deepskyblue;
    margin-top: 10px;
}

.band.nav h5{
    align-content: center;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: skyblue;
}

/* ---------------- Landing Styling ---------------- */

.band.landing {
    background: #f8f8f8;
}

.text.container{
    vertical-align: middle;
}
.band.landing h3 {
    color:black;
    vertical-align: center;
    font-weight: bold;
    padding-top: 20%;
    float: left;
    text-align: center;
}
.band.landing h4 {
    color:black;
    vertical-align: center;
    margin-bottom: 20%;
    float: left;
    text-align: center;
}

.band.landing p {
    color:white;
}

.band.landing picture img,
.band,landing picture source {
    margin-top:10px;
}

/* ---------------- Services Styling ---------------- */

.band.services {
    background: #343434;
}

.band.about {
    background: #f8f8f8;
}

.band.contact {
    background: #343434;
}


/* Removes the website border that was there */
body {
	margin:0;
}

